#!/bin/bash

export CUSTOMER_TLD=
export INTERNAL_NET=
export OCP_DOMAIN=prod
export APPS_DOMAIN=apps

export PRIVATE_DOCKER_REGISTRY_HOST=

export IDM_NAME=
export IDM_HOST=
export IDM_CA_CERT=
export IDM_DC=
export IDM_BIND_PASSWORD=
export IDM_BIND_USER=ocp-${OCP_DOMAIN}-proxy
export IDM_GROUP=ocp-${OCP_DOMAIN}-group

export OPENSHIFT_INVENTORY_TEMPLATE_FILE=conf/ocp-hosts-v311.template
