#!/bin/bash

unset CUSTOMER_TLD INTERNAL_NET OCP_DOMAIN APPS_DOMAIN PRIVATE_DOCKER_REGISTRY_HOST
CUSTOMER_TLD=
INTERNAL_NET=
OCP_DOMAIN=prod
APPS_DOMAIN=

PRIVATE_DOCKER_REGISTRY_HOST=

export CUSTOMER_TLD INTERNAL_NET OCP_DOMAIN APPS_DOMAIN PRIVATE_DOCKER_REGISTRY_HOST

unset  IDM_NAME IDM_HOST IDM_CA_CERT IDM_DC IDM_BIND_PASSWORD IDM_BIND_USER IDM_GROUP
IDM_NAME=
IDM_HOST=
IDM_CA_CERT=
IDM_DC=
IDM_BIND_PASSWORD=
IDM_BIND_USER=ocp-${OCP_DOMAIN}-proxy
IDM_GROUP=ocp-${OCP_DOMAIN}-group

export IDM_NAME IDM_HOST IDM_CA_CERT IDM_DC IDM_BIND_PASSWORD IDM_BIND_USER IDM_GROUP

unset OPENSHIFT_INVENTORY_TEMPLATE_FILE ASSETS_PREFIX

OPENSHIFT_INVENTORY_TEMPLATE_FILE=conf/ocp-hosts-v311.template

#ASSETS_PREFIX=${HOME}/${OCP_DOMAIN}

export OPENSHIFT_INVENTORY_TEMPLATE_FILE ASSETS_PREFIX

unset ROOT_CA DN_PREFIX

ROOT_CA=ROOT
DN_PREFIX=

export ROOT_CA DN_PREFIX
