#

openshift_cluster_monitoring_operator_install: false

#openshift_prometheus_storage_kind: "nfs"
#openshift_prometheus_storage_access_modes: [ "ReadWriteOnes" ]
#openshift_prometheus_storage_nfs_directory: "/var/export"
#openshift_prometheus_storage_nfs_options: "*(rw,root_squash)"
#openshift_prometheus_storage_volume_name: "prometheus"
#openshift_prometheus_storage_volume_size: "10G"

openshift_cluster_monitoring_operator_prometheus_storage_enabled: true
openshift_cluster_monitoring_operator_prometheus_storage_capacity: "48G"
openshift_cluster_monitoring_operator_prometheus_storage_class_name: "local-infra"
openshift_cluster_monitoring_operator_alertmanager_storage_enabled: true
#openshift_cluster_monitoring_operator_alertmanager_storage_capacity: "2G"
#openshift_cluster_monitoring_operator_alertmanager_storage_class_name: "glusterfs-infra"

openshift_prometheus_node_selector={ "node-role.kubernetes.io/infra": "true" }




